@model RealDelivery.produto

@{
    Layout = "~/Views/Administrador/_LayoutPanel.cshtml";
    ViewBag.Title = "Adicionar produto";
}

<h2 class="text-center text-uppercase mt-2">Adicionar produto</h2>


@using (Html.BeginForm("Create", "produto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <h4 class=" mt-3">Adicionar novos produtos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.produto_nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.produto_nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.produto_nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="grupo_cod" class="control-label col-md-2">Grupo do produto</label>
            <div class="col-md-10">
                @Html.DropDownList("grupo_cod", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.grupo_cod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.produto_preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="produto_preco" class="form-control" />
                @Html.ValidationMessageFor(model => model.produto_preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.produto_custo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="produto_custo" class="form-control" />
                @Html.ValidationMessageFor(model => model.produto_custo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.produto_ativo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="checkbox" name="produto_ativo" class="form-check" value="S" checked />
            </div>
        </div>

        <div class="form-group">
            <label for="impress_cod" class="control-label col-md-2">Impressora do produto</label>
            <div class="col-md-10">
                @Html.DropDownList("impress_cod", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.impress_cod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.produto_desc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" name="produto_desc" style="resize: none" rows="5" cols="50"></textarea>
                @Html.ValidationMessageFor(model => model.produto_desc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="custom-file">
                @Html.LabelFor(model => model.produto_img, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.img_produto, "", new { @class = "text-danger" })
                    <label class="btn btn-primary" for="img_produto">Escolher a imagem do produto...</label>
                    <input type="file" name="img_produto" class="invisible" id="img_produto">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success mr-2" style="width: 116px;" />
                @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary", @style = "width: 116px;" })
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
