@model RealDelivery.grupo

@{
    Layout = "~/Views/Administrador/_LayoutPanel.cshtml";
    ViewBag.Title = "Detalhes do grupo";
}

<h2 class="text-center text-uppercase mt-2">Detalhes do grupo</h2>

<div>
    <h4 class=" mt-3">Detalhes do cadastro do grupo</h4>
    <hr />
    <table class="table table-hover table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.grupo_nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grupo_ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grupo_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grupo_img)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.grupo_nome)
            </td>
            <td>
                @Html.DisplayFor(model => model.grupo_ativo)
            </td>
            <td>
                @Html.DisplayFor(model => model.grupo_desc)
            </td>
            <td>
                @if (Model.grupo_img != null)
                {
                    <img src="@Model.grupo_img" alt="@Model.grupo_img image" class="img-thumbnail" />
                }

            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.grupo_cod }, new { @class = "btn btn-success", @style = "width: 116px;" }) 
    @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary", @style = "width: 116px;" })
</p>
