@model RealDelivery.pedido
@{
    Layout = "~/Views/Administrador/_LayoutPanel.cshtml";

    ViewBag.Title = "Detalhes do pedido";

}

<a href="/Administrador/Pedidos" class="btn btn-danger float-left">Voltar</a>
<h2 class="text-center mt-2">Detalhes do pedido</h2>



<table class="table table-hover table-bordered">
    <tr>
        <th class="text-center align-middle">
            @Html.DisplayNameFor(model => model.pedido_cod)
        </th>
        <th class="text-center align-middle">
            @Html.DisplayNameFor(model => model.pedido_valor)
        </th>
        <th class="text-center align-middle">
            @Html.DisplayNameFor(model => model.pedido_obs)
        </th>
        <th class="text-center align-middle">
            @Html.DisplayNameFor(model => model.pedido_ent)
        </th>
        <th class="text-center align-middle">
            Cliente
        </th>
        <th class="text-center align-middle">
            Endereço
        </th>
        <th>

        </th>
    </tr>


    <tr>
        <td class="text-center align-middle">
            @{
                var id = Html.DisplayFor(model => model.pedido_cod);
            }
            @id
        </td>
        <td class="text-center align-middle">
            @Html.DisplayFor(model => model.pedido_valor)
        </td>
        <td class="text-center align-middle">
            @Html.DisplayFor(model => model.pedido_obs)
        </td>
        <td class="text-center align-middle">
            @{
                var pedido_ent = Html.DisplayFor(model => model.pedido_ent).ToString();
                if (pedido_ent == "0")
                {
                    <p>Retirar no balcão</p>
                }
                if (pedido_ent == "1")
                {
                    <p>Delivery</p>
                }

            }
        </td>
        <td class="text-center align-middle">

            <div> Nome:</div>       @Model.cliente.cliente_nome.ToString() <br />
            @if (Model.cliente.cliente_telefone != null)
            {
                <div>Telefone:</div> @Model.cliente.cliente_telefone.ToString() <br />
            }

        </td>
        <td class="text-center align-middle">
            @{
                if (Model.endereco != null)
                {
                    var endereco_rua = "";
                    var endereco_num = "";
                    var endereco_comp = "";
                    var endereco_bairro = "";
                    var endereco_cep = "";
                    var endereco_cidade = "";
                    var endereco_uf = "";

                    if (Model.endereco.endereco_rua != null)
                    {
                        endereco_rua = Model.endereco.endereco_rua.ToString();
                    }
                    if (Model.endereco.endereco_num != null)
                    {
                        endereco_num = Model.endereco.endereco_num.ToString();
                    }
                    if (Model.endereco.endereco_comp != null)
                    {
                        endereco_comp = Model.endereco.endereco_comp.ToString();
                    }
                    if (Model.endereco.endereco_bairro != null)
                    {
                        endereco_bairro = Model.endereco.endereco_bairro.ToString();
                    }
                    if (Model.endereco.endereco_cep != null)
                    {
                        endereco_cep = Model.endereco.endereco_cep.ToString();
                    }
                    if (Model.endereco.endereco_cidade != null)
                    {
                        endereco_cidade = Model.endereco.endereco_cidade.ToString();
                    }
                    if (Model.endereco.endereco_uf != null)
                    {
                        endereco_uf = Model.endereco.endereco_uf.ToString();
                    }


                    //String.Format("{0:yyyyMMdd-HHmmssfff}", DateTime.Now);
                    var endereco_completo_1 = endereco_rua.ToString() + ", " + endereco_num.ToString() + ", " + endereco_comp.ToString();
                    var endereco_completo_2 = endereco_bairro.ToString() + ", " + endereco_cep.ToString();
                    var endereco_completo_3 = endereco_cidade.ToString() + ", " + endereco_uf.ToString();

                    <div>
                        @endereco_completo_1 <br />
                        @endereco_completo_2 <br />
                        @endereco_completo_3
                    </div>
                }
            }

        </td>
        <td class="text-center align-middle">
            @Html.ActionLink("Itens do pedido", "ItensPedido", "Administrador", new { id = id }, new { @class = "btn btn-info" })
        </td>
    </tr>

</table>


