@model RealDelivery.cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente_telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente_telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente_senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente_senha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cliente_cod }) |
    @Html.ActionLink("Back to List", "Index")
</p>
