@model IEnumerable<RealDelivery.cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente_nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente_telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente_senha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente_telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente_senha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cliente_cod }) |
            @Html.ActionLink("Details", "Details", new { id=item.cliente_cod }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cliente_cod })
        </td>
    </tr>
}

</table>
